.header {
    display: flex;
    box-shadow: 0px 1px 6px #00000029;
    padding: 20px 1.5rem;
    align-items: center;
}
.notification {
    display: block;
    position: relative;
}
.alertNotif {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #FF0000;
    top: 5px;
    left: 21px;
}
.profile {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 100%;
    padding: 2px;
    border: 1px solid #e9e9e9;
}
