body {
  font-family: "Segoe UI", Arial, sans-serif !important;
}
.layout {
  min-height: 100vh;
  display: grid;
}
h1.title {
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.nav-link li {
  list-style-type: none;
  margin: 10px 0;
}
.nav-item {
  text-align: center;
  padding: 5px 0;
}
.nav-item a {
  text-decoration: none;
  color: #fff;
}
.nav-item a:hover {
  color: #fff;
}
.nav-item:hover {
  background-color: #FDC300;
}
.nav-item.active {
  background-color: #FDC300;
}
.flex {
  display: flex;
}
.ml-auto {
  margin-left: auto;
}
.align-center {
  align-items: center;
}
.content {
  padding: 20px;
}
.breadcrumb-item {
  font-size: 11px;
}
.breadcrumb-item a {
  text-decoration: none !important;
  color: #818181 !important;
}
.breadcrumb-item.active {
  color: #E84D0E !important;
}
.breadcrumb-item+.breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">") !important;
}
.btn-buana-save {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
  font-size: 12px !important;
  background-color: #027F71 !important;
  color: #fff !important;
  font-weight: 600 !important;
  text-transform: uppercase;
}
.btn-buana-cancel {
  font-size: 12px !important;
  border: 1px solid #707070 !important;
  color: #333333 !important;
  font-weight: 600 !important;
  text-transform: uppercase;
}
.mr-2 {
  margin-right: 10px;
}
.note {
  font-size: 11px;
}
.note span {
  font-style: italic;
}
.form-group {
  padding: 2rem 2rem 20px;
  border: 1px solid #D3D3D3;
  border-radius: 8px;
  box-shadow: 0px 3px 6px #00000029;
}
.form-box {
  background-color: #F3F4F4;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: fit-content !important;
  padding: 1.5rem !important;
}
label {
  font-size: 12px !important;
}
.error-validation {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #ff0000;
  margin-top: 5px;
  font-style: italic;
}
.actions a {
  color: #3E40AE;
  font-weight: 600;
  text-decoration: none;
}
.actions a:hover {
  color: #3E40AE;
}
#table {
  padding-top: 1rem !important;
  border-radius: 8px !important;
}
#table thead {
  color: #FFFFFF !important;
  font-size: 12px;
}
#table tbody {
  font-size: 14px;
  border-left: 1px solid #B7B7B7 !important;
  border-right: 1px solid #B7B7B7 !important;
}
#table thead tr {
  background-color: #5E5E5E;
}
#table tbody, td, tfoot, th, thead, tr {
  border-style: none !important;
}
#table tbody tr:nth-child(even) {
  background-color: #F9F9FB;
}
#table tbody tr:nth-child(odd) {
  background-color: #F5F5F5;
}
#table thead tr th:first-child {
  border-top-left-radius: 8px !important;
}
#table thead tr th:last-child {
  border-top-right-radius: 8px !important;
}
.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#table_info {
  padding-top: 0;
  font-size: 16px;
  margin-left: 16px;
}
.info {
  display: flex;
  align-items: center;
}
.custom-button {
  color: #fff !important;
  background-color: #5E5E5E !important;
  border-radius: 100% !important;
}
.add-btn {
  color: #5E5E5E !important;
  background-color: #F3C244 !important;
}
.add-btn span {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.add-btn svg {
  margin-right: 6px;
}
.top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-wrapper #table_filter {
  float: none !important;
  text-align: left;
}
#table_filter {
  border: 1px solid #D9DFE7;
  border-radius: 8px;
  padding: 2px 10px;
  color: #D9DFE7;
}
#table_filter input {
  border: none !important;
  outline: none;
}
#table_paginate::before {
  content: 'Page:';
  margin-right: 20px;
  font-size: 15px;
}
#table_paginate {
  padding-top: 0;
  font: 15px;
}
#table_paginate a.paginate_button {
  border: 1px solid #D3D3D3;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  outline: none !important;
  padding: 0.25em .8em;
}
#table_paginate a.paginate_button.current {
  background-color: #5E5E5E !important;
  border: 1px solid #5E5E5E;
  color: #fff !important;
  font-weight: 600;
}
#table_paginate a.paginate_button:hover,
#table_paginate span a.paginate_button:hover {
  background: #5E5E5E !important;
  border: 1px solid #5E5E5E !important;
  color: #fff !important;
  font-weight: 600;
}
.edit-wrapper {
  margin-top: 1rem;
  display: none;
}
.edit-wrapper .btn-buana-save span {
  display: flex;
  align-items: center;
}
.edit-wrapper .btn-buana-save span svg {
  margin-left: 6px;
}
.query {
  display: flex;
  align-items: center;
}
.adv {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-left: 1rem;
}